@import "~bootstrap/scss/bootstrap";

.headerForm {
  display: flex;
  justify-content: space-between;
}

.closeForm {
  background-image: url('../../icons/blackClose.svg');
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  &:hover {
    background-color: cadetblue;
  }
}

.formTitle {
  margin-right: 6px;
}

